[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[requires]
python_version = "3.11"

[dev-packages]

[scripts]
bubblesort = "python3 Algorithms/Bubblesort/Python/playground.py"
mergesort = "python3 Algorithms/Mergesort/TopDown/Python/playground.py"
queue = "python3 DataStructures/Queue/Python/playground.py"
